@import 'header-secondary';

.header {
  @include media-breakpoint-up('lg') {
    background: $brand-primary url('/images/banners/banner.png') center center
      no-repeat;
    background-size: cover;
    height: 497px;
  }
}
